.grid {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    align-items: flex-start;
}

.gridItem {
    background: #f9f9f9;
    border: solid 1px #ccc;
    padding: 5px;
}

.gridItem img {
    height: 75px;
    width: 75px;
}

.titleContainer {
    padding: 5px;
    padding-bottom: none;
    background-color: #edf6fb;
    margin-bottom: 5px;
    border: solid 1px #C0E6FF;
}

.title {
    font-weight: bold;
}

.source {
    color: #0d0fa8;
    font-style: italic;
    margin-top: 5px;
    font-weight: 500;
}

.linksContainer {
    display: flex;
}

.linksContainer a  {
    text-decoration: none;
    margin-top: 10px;
    display: block;
    padding: 5px;
    background: #edf3f5;
    border: solid 1px #ccc;
    color: blue;
    margin-right: 5px;
    border-radius: 1px;
}

a.GithubLink {
    background: #faf4fd;
    color: #5E2382;
    border: solid 1px #5E2382;
}

a.YoutubeLink {
    background-color: #fff9f9;
    color: #cf1515;
    border: solid 1px #cf1515;
}

.FAicon {
    margin-right: 5px;
}



@media (min-width: 680px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1268px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1468px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
